/* #logo{
    height: 90px;
    width: 100px;

}
#text-logo{
    height: 90px;
    width: 135px;
  
} */

.text-green{
    color: #33ff99;
}

.ancho-descripcion{
    width: 350px;
    background-color: #33ff99;
  }

  /* ESTILOS DEL MODAL PERSONALIZADO */

  .hero__cta{
    text-decoration: none;
    color: #0d2a21;
    padding: 0px 0px;
    border: 0px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .1s;
}

.hero__cta:hover{
    background-color: #198754;
    color: #ffc107;
    border: 0px solid;
}

.hero__img{
    width: 100%;
}

.modal__custom{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s .4s;
    --transform: translateY(-100vh);
    --transition: transform .2s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateY(0);
    --transition: transform .3s .3s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: #ffc107;
    background-color: #198754;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    background-color: #ffc107;
    color: #198754;
}


@media (max-width:800px) {

    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title{
        font-size: 2rem;
    }
}




