/* #logo{
    height: 90px;
    width: 100px;

}
#text-logo{
    height: 90px;
    width: 135px;
  
} */

.text-green{
    color: #33ff99;
}

.ancho-descripcion{
    width: 350px;
    background-color: #33ff99;
  }




